<%= provide(:title, "About") %>

<div class="main-container">
  <div class="img-border">
    <%= image_tag("about-ninth-digital.jpg", alt: "About cryptolovesh2o", class: "post-image") %>
  </div>
</div>

<div class="post-container">

  <div class="pb5"></div>
  <div class="title3 center">
    About cryptolovesh2o
  </div>

  <div class="pb2"></div>
  <div class="best">
    cryptolovesh2o wasn't born in 2020.

    cryptolovesh2o was born over the course of more than 10 years of learning and hardwork.

    That's 10 years of creating websites, each website slightly better than the last, to get here, today, in 2020, when I decided it was time to share my web development and design knowledge.

    I had to learn the ins and outs, the frontends and the backends, to get to a point where I was proud of the websites I was building.

    Other people started to notice, too, and commented on the simplicity of the style and functionality.

    As a hobby on the side, I'd help people fine tune their own designs, and teach some people the basics so they could tweak their own websites.

    Almost all of these websites were on a CMS, Content Management System, so that people could easily add content, like blog posts and pages.

    When working on these sites, they were massive behind the scenes, even though up front they only consisted of a few pages and blog posts.

    Sorting through all the backend stuff I'd find plugins, third-party softwares, and just plain bad code. All of this contributed to a slower-than-normal website. 

    On top of that, people were paying for these plugins through their template or design, yet weren't ever going to use them.

    I soon learned that not everyone needs the same things on their website that other people might need.

    I could create an almost near perfect replica of their current website that was faster, cleaner, and kept what they needed.

    People really seemed to enjoy it.

    In early 2020, the idea of cryptolovesh2o was truly born.

    A core part of cryptolovesh2o is that you only have what you need.

    If you only need the basics of a blog or static site for your business, then why bog down your site with all that extra code? Not to mention paying for all that stuff you don't need.

    I got to work on the original software for cryptolovesh2o, which was a boilerplate design that I would tweak based on the person's needs.

    After trying this out, I got emails all the time asking me to change this part or that part of the design.

    Most of the requests were for really simple things that only took a few minutes to change; things like font, colors, borders, spacing, etc...

    They were easy changes, but they were wanted very often.

    I needed to build something that anyone can customize in seconds.

    A Website Builder For Busy People.

    My second attempt at cryptolovesh2o combined the ideas of simplicity and quick customization.

    The new cryptolovesh2o was nimble, yet robust, elegant, yet fluid.

    cryptolovesh2o also aims to help people, even if they don't use our Website, by teaching basic web design, web marketing, and productivity skills, that they can use to improve their own website.

    And here we are, 2020 is almost over, and cryptolovesh2o is already better than it was 6 months ago.

    Its story doesn't end here. There's always room for improvement.

    cryptolovesh2o will always be getting better.

  </div>

  <div class="pb7"></div>

  <span class="about_email_form"><%= render 'emails/partials/about_email_form' %></span>
</div>

<div class="post-container">
  <span class="email_form"><%= render 'emails/partials/email_form' %></span>
</div>
