<%= provide(:title, "About") %>

<div class="main-container">
  <div class="img-border">
    <%= image_tag("about-ninth-digital.jpg", alt: "About Crypto Loves H2O", class: "post-image") %>
  </div>
</div>

<div class="post-container">

  <div class="pb5"></div>
  <div class="title3 center">
    About Crypto Loves H2O
  </div>

  <div class="pb2"></div>
  <div class="best">
    Crypto Loves H2O wasn't born in 2020.

    Crypto Loves H2O was born over the course of more than 10 years of learning and hardwork.

    Crypto Loves H2O will always be getting better.
  </div>

  <div class="pb7"></div>

  <span class="about_email_form"><%= render 'emails/partials/about_email_form' %></span>
</div>