<%= provide(:title, "Wallets") %>

<div class="post-container">

  <div class="pb5"></div>
  <div class="title3 center">
    <span class="main">Crypto</span> <span class="black">Loves</span> <span class="secondary">H2O</span>'s Wallets
  </div>

  <div class="pb5"></div>
  <div class="center">
    Thank you so much for donating your crypto to us!
  </div>

  <div class="pb5"></div>
  <div class="center">
    <div class="title2 center pb1">
      Bitcoin
    </div>
    33B81weBWG8dFiRBPanysk7Tn7zT4bUYsS
  </div>

  <div class="pb5"></div>
  <div class="center">
    <div class="title2 center pb1">
      Ethereum
    </div>
    0x8Bf62ce80D439de193c907be47b71c67eCF07e5a
  </div>

  <div class="pb5"></div>
  <div class="center">
    <div class="title2 center pb1">
      Cardano
    </div>
    addr1vyht5jh25c3knh2vszqr4nqaa50pseetwu5p7cca9ap7xpshpp4ff
  </div>

  <div class="pb5"></div>
  <div class="center">
    <div class="title2 center pb1">
      Algorand
    </div>
    AO6FEBTLP2PV7CCXLHJUKGQHW3Q66XJD5B3G4IEZKPEZOKXORKJBRHX6RE
  </div>

  <div class="pb5"></div>
  <div class="center">
    <div class="title2 center pb1">
      Dogecoin
    </div>
    DFU7JS3HP7zJdmtAVEYfhE2VKmeqjENvRo
  </div>

  <div class="pb7"></div>

  <span class="about_email_form"><%= render 'emails/partials/about_email_form' %></span>
</div>