<div class="sendcrypto">
  <div class="ph3">
    <div class="pb3"></div>
    <div class="mini-title center bold pb1">
      Already into crypto?
    </div>
    <%= spacing_static('b', '1') %>
    <div class="center bold">
      <%= link_to "Consider donating a small amount of crypto to one of our wallets!", wallets_path %>
    </div>
    <div class="pb3"></div>
  </div>
</div>