<div style="display: none;">
 You will receive emails from us for things like new posts, tutorials, and general information about how you can make your website better.
</div>

<%= render 'partials/meta/email_block' %>

<div style="line-height: 1em; font-size: 2em; font-weight: 700; text-align: center;">
 Thank you and welcome!
</div>

<div style="padding-bottom: 50px;"></div>

You will receive emails from us for things like new posts, tutorials, and general information about how you can make your website better.

<div style="padding-bottom: 20px;"></div>

We don't send these on any specific schedule. Make sure to keep your eyes open.

<div style="padding-bottom: 50px;"></div>

<div style="line-height: 1em; font-size: 1.25em; font-weight: 700; text-align: center;">
  We'd like to learn about you!
</div>

<div style="padding-bottom: 50px;"></div>

Do you have a website already?

<div style="padding-bottom: 20px;"></div>

If so, what kind of website are you building, and what are you trying to accomplish using it? What is your level of experience?

<div style="padding-bottom: 20px;"></div>

If not, what's been stopping you from getting one started?

<div style="padding-bottom: 20px;"></div>

Let us know on Twitter! (<a style="text-decoration: none; color: #fc9580; cursor: pointer; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; font-weight: 700;" href="https://www.twitter.com/cryptolovesh2o">@cryptolovesh2o</a>)