<div style="display: none;">
 You will receive emails from us for things like new posts, tutorials, and general information about cryptocurrency and blockchain technology.
</div>

<%= render 'partials/meta/email_block' %>

<div style="line-height: 1em; font-size: 2em; font-weight: 700; text-align: center;">
 Thank you and welcome!
</div>

<div style="padding-bottom: 50px;"></div>

You will receive emails from us for things like new posts, tutorials, and general information about cryptocurrency and blockchain technology.

<div style="padding-bottom: 20px;"></div>

We don't send these on any specific schedule. Make sure to keep your eyes open.

<div style="padding-bottom: 50px;"></div>

<div style="line-height: 1em; font-size: 1.25em; font-weight: 700; text-align: center;">
  We'd like to hear from you!
</div>

<div style="padding-bottom: 50px;"></div>

Do you have any questions about crypto or blockchain?

<div style="padding-bottom: 20px;"></div>

Is there anything you've ever wanted to ask, but not been able to find the answer to?

<div style="padding-bottom: 20px;"></div>

Maybe your question will be our next post?

<div style="padding-bottom: 20px;"></div>

Let us know on Twitter! (<a style="text-decoration: none; color: #FD7ECB; cursor: pointer; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; font-weight: 700;" href="https://www.twitter.com/cryptolovesh2o">@cryptolovesh2o</a>)