<%= provide(:title, "422 Error") %>

<div class="post-container">

  <div class="title10 center">
    422
  </div>

  <div class="title3 center">
    ERROR
  </div>

  <div class="pb3"></div>
  <div class="center">
    
    A 422 error means that the server could not process the page, even though everything else seems fine. Most of the time this happens because of a timeout (the server was waiting too long to do something.) You may not be currently signed in and trying to access pages that require a sign in while not being signed in can commonly cause this error.

  </div>

  <div class="pb2"></div>
    
  <div class="center">
    <%= link_to "Go back to Crypto Loves H2O.", root_url %>
  </div>

</div>