<div class="title1 center">
  You're all set!
</div>
<%= spacing_static('b', '3') %>

<div class="center bold">
  Thank you! We'll send tips and tricks for crypto right to the email address you provided. Maybe there's something in your mailbox right now? Better go check!
</div>