<div class="ph3">
  <div class="pb3"></div>
  <div class="mini-title center bold pb1">
    You're all set!
  </div>
  <div class="pb1"></div>
  <div class="center bold">
    Thank you! We'll send tips and tricks for crypto right to the email address you provided. Maybe there's something in your mailbox right now? Better go check!
  </div>
  <div class="pb3"></div>
</div>