<% unless user_signed_in? %>
  <div class="pb7"></div>
  <div class="email-border">
    <div class="title2 center">
      You're all set!
    </div>
    <div class="pb2"></div>
    <div class="center bold">
      Thank you! We'll send tips and tricks for web development and design right to the email address you provided. Maybe there's something in your mailbox right now? Better go check!
    </div>
  </div>
<% end %>